

  <p>
    <td>
      <%= link_to  friend.first_name + ' ' + friend.last_name, friend %>
    </td>
  </p>
  <p>
    <td>
      <%= friend.email %>
    </td>
  </p>
  <p>
    <td>
      <%= friend.phone %>
    </td>
  </p>

  <p>
    <td>
      <%= friend.twitter %>
    </td>
  </p>   

</div>
